---
import '../../styles/global.css';
---
<div class="h-screen flex items-center justify-center">
  <h1 class="text-black text-5xl md:text-7xl lg:text-8xl 2xl:text-9xl font-EditorialNewRegular">
    UTXOWEAR
  </h1>
</div>