<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12">
    <div class="mx-auto text-center">
      <div class="sm:flex sm:justify-center sm:mb-8">
        <div class="text-base tracking-tight text-negroni-500 rounded-full">
          quickstore
        </div>
      </div>
      <h1
        class="text-negroni-500 mt-4 font-bold md:text-6xl text-3xl tracking-tight">
        An Astro and Tailwind CSS template for your store.
        <span >
          Display products from services like Gumroad or Lemonsqueezy.
        </span>
      </h1>
      <div class="flex justify-center flex-col gap-3 mt-10 sm:flex-row">
        <a
          class="items-center h-12 justify-center rounded-full border-negroni-500 duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full text-negroni-500 font-medium lg:w-auto border focus-visible:outline-negroni-500 text-negroni-500/80"
          href="https://github.com/michael-andreuzza/quickstore">GitHub</a
        >
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-transparent border-negroni-500 bg-negroni-500 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:border-negroni-500 hover:text-negroni-500 lg:w-auto text-charcoal-500"
          href="https://lexingtonthemes.com">Lexington Themes &nbsp; →</a
        >
      </div>
    </div>

  </div>
</main>
