---
import '../../styles/global.css';
---

<main class="relative overflow-hidden">
  <div class="relative mx-auto px-8 max-w-7xl py-24 md:px-12">
    <div class="mx-auto text-center">
      <h1 class="">UTXOWEAR</h1>
    </div>
  </div>
</main>