<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12">
    <div>
      <div class="mx-auto text-center max-w-3xl">
        <h1
          class="text-negroni-500 mt-4 font-bold sm:text-5xl text-5xl tracking-tighter"
        >
          A simple Astro and Tailwind CSS template for your store. Embed
          products from services like Gumroad or Lemonsqueezy.
        </h1>
      </div>
    </div>
  </div>
</main>
