---
import { Icon } from "astro-icon";
import logoImage from "./logo.png";
---

<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12">
    <div class="mx-auto text-center">
      <div class="flex justify-center">
        <img
          src={logoImage.src}
          alt="Quickstore Logo"
          class="logo animate-spin-slow max-w-xs"
        />
      </div>
      <h1
        class="text-charcoal-400 font-bold mt-20 md:text-6xl text-5xl tracking-tight"
        style={{
          backdropFilter: "blur(2px)",
          borderRadius: "2rem",
        }}
      >
        Tiệm đồ tên bánh
      </h1>
      <div class="flex justify-center flex-col gap-3 mt-6 sm:flex-row">
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-tomato-700 border-cokiey-500 bg-tomato-500 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:border-cokiey-500 hover:text-cokiey-500 lg:w-auto text-cokiey-500"
          href="https://www.instagram.com/cokie.typo"
          target="_blank"
          ><Icon pack="mdi" name="instagram" class="w-5 mr-2" />Instagram</a
        >
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-negroni-900 border-negroni-500 bg-negroni-800 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:border-negroni-500 hover:text-negroni-500 lg:w-auto text-cokiey-500"
          href="https://www.tiktok.com/@cokie.typo"
          target="_blank"
          ><Icon pack="ic" name="baseline-tiktok" class="w-5 mr-2" />TikTok</a
        >
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-tomato-900 border-cokiey-500 bg-tomato-700 focus-visible:outline-negroni-500 focus-visible:ring-negroni-500 font-medium hover:border-cokiey-500 hover:text-cokiey-500 lg:w-auto text-cokiey-500"
          href="https://shopee.vn/cokie.typo"
          target="_blank"
        >
          <svg
            class="w-5 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path
                d="m4 7l.867 12.143a2 2 0 0 0 2 1.857h10.276a2 2 0 0 0 2-1.857L20.01 7h-16zm4.5 0c0-1.653 1.5-4 3.5-4s3.5 2.347 3.5 4"
              ></path><path
                d="M9.5 17c.413.462 1 1 2.5 1s2.5-.897 2.5-2s-1-1.5-2.5-2s-2-1.47-2-2c0-1.104 1-2 2-2s1.5 0 2.5 1"
              ></path></g
            ></svg
          >
           Shopee
        </a>
      </div>
      <h1
        class="text-charcoal-400 font-bold mt-20 md:text-6xl text-5xl tracking-tight"
        style={{
          backdropFilter: "blur(2px)",
          borderRadius: "2rem",
        }}
      >
        Liên hệ
      </h1>
      <div class="flex justify-center flex-col gap-3 mt-6 sm:flex-row">
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-negroni-900 border-charcoal-200 bg-negroni-200 focus-visible:outline-negroni-200 focus-visible:ring-negroni-200 font-medium hover:border-negroni-200 hover:text-negroni-200 lg:w-auto text-charcoal-500"
          href="tel:+84869226821"
          ><Icon pack="ic" name="round-phone" class="w-5 mr-2" /><b
            >Gọi Hotline</b
          ></a
        >
        <a
          class="items-center h-12 justify-center rounded-full duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-negroni-900 border-charcoal-200 bg-negroni-200 focus-visible:outline-negroni-200 focus-visible:ring-negroni-200 font-medium hover:border-negroni-200 hover:text-negroni-200 lg:w-auto text-charcoal-500"
          href="mailto:cokie.typo@gmail.com"
          ><Icon pack="ic" name="outline-email" class="w-5 mr-2" /><b
            >Gửi Email</b
          ></a
        >
      </div>
    </div>
  </div>
</main>
