<main id="p">
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/airpods-bg.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Earbuds
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              A1 OnEar Music
            </p>
          </div>
          <p class="text-base text-tomato-500">$39.95</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/headphones-bg.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Headphones
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              OLow: Global Air Music
            </p>
          </div>
          <p class="text-base text-tomato-500">$34.99</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/rgb-speaker.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Speaker
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Radius Bong Music: High performance speaker
            </p>
          </div>
          <p class="text-base text-tomato-500">$49.99</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/tv.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                TV Sound Kit
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              5.1 Kit: OMaga Sound Enviroment
            </p>
          </div>
          <p class="text-base text-tomato-500">$104.99</p>
        </div>
      </figure>
    </div>
  </div>
</main>
