@import "tailwindcss";
@theme {

  /* Charcoal  */
  --color-charcoal-50: #eceeec;
  --color-charcoal-100: #d7dad7;
  --color-charcoal-200: #b0b5b0;
  --color-charcoal-300: #889188;
  --color-charcoal-400: #626a62;
  --color-charcoal-500: #3e433e; /* Default */
  --color-charcoal-600: #313531;
  --color-charcoal-700: #252825;
  --color-charcoal-800: #191a19;
  --color-charcoal-900: #0c0d0c;

  /* Tomato  */
  --color-tomato-50: #ffeeeb;
  --color-tomato-100: #ffe1dc;
  --color-tomato-200: #febfb3;
  --color-tomato-300: #fea090;
  --color-tomato-400: #fd7e68;
  --color-tomato-500: #fd6043; /* Default */
  --color-tomato-600: #fc2803;
  --color-tomato-700: #c01e02;
  --color-tomato-800: #7e1401;
  --color-tomato-900: #420a01;

  /* Negroni  */
  --color-negroni-50: #fdfaf7;
  --color-negroni-100: #fbf5ef;
  --color-negroni-200: #f6e8da;
  --color-negroni-300: #f2deca;
  --color-negroni-400: #edd1b5;
  --color-negroni-500: #e9c7a5; /* Default */
  --color-negroni-600: #d99e63;
  --color-negroni-700: #c1782f;
  --color-negroni-800: #7f4f1f;
  --color-negroni-900: #422910;
}
/* CSS */
:root {
  /* Typography */
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
    /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
    /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03" 1,
    /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
    /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}