@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('../../fonts/EditorialNew/Regular.otf') format('otf');
  }
  
  body {
    font-family: 'MyCustomFont', sans-serif;
  }