---
import BaseHead from "../components/BaseHead.astro";
// import Footer from "../components/global/Footer.astro";
// import '@fontsource/borel';
import '@fontsource/itim';
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-charcoal-500">
    <slot />
{/* <Footer/> */}
  </body>
</html>
