---
import Navigation from "@/components/global/Navigation.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-charcoal-500">
    <Navigation />
    <slot />
    <Footer/>
  </body>
</html>
