---
import Navigation from "@/components/global/Navigation.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/global/Footer.astro";

const { title, useIA = false } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} useIA={useIA} />
  </head>

  <body class="bg-charcoal-500">
    <Navigation />
    <slot />
    <Footer />
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/665a46089a809f19fb37856e/1hv8a34n8";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
