<footer >
  <div class="items-center text-center 2xl:max-w-7xl lg:px-16 md:px-12 mx-auto px-8 w-xl xl:px-36">
    <div class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div class="lg:text-center lg:mx-auto">
        <div class="flex items-center text-negroni-500">
          <div class="lg:text-center lg:mx-auto">
            <div class="flex items-center text-white">
              <div class="lg:text-center lg:mx-auto">
                <p class="font-bold italic lg:mx-auto lg:text-4xl text-2xl">
                  quickstore.
                </p>
                <p class="text-sm mt-1">
                  Designed and built in the Åland Islands<br />by
                  <a href="https://michaelandreuzza.com/" class="underline hover:text-negroni-500 duration-200">
                    Michael Andreuzza.
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav class="flex gap-8 mt-11">
          <a href="https://lexingtonthemes.com/" class="text-negroni-500  h-8 delay-150  hover:text-tomato-500  text-sm transition-colors">
           Lexington Themes
          </a>
          <a href="https://github.com/michael-andreuzza/quickstore" class="text-negroni-500  h-8 delay-150  hover:text-tomato-500  text-sm transition-colors">
            Github
          </a>
          <a href="https://twitter.com/lexingtonthemes" class="text-negroni-500  h-8 delay-150  hover:text-tomato-500  text-sm transition-colors">
            Twiter
          </a>
        </nav>
      </div>
    </div>
    <div class="flex flex-col border-t border-negroni-500/10 lg:mx-auto lg:text-center md:pt-6 pb-12 pt-8">
      <p class="text-tomato-500 md:mt-0 mt-6 text-sm">
        A free template by Lexington Themes
      </p>
    </div>
  </div>
</footer>
