<header class="fixed flex z-10 min-w-full justify-end h-20 p-8 text-slate-200 items-center">
    <nav>
        <ul class="flex gap-8">
            <li class="hover:text-slate-500">
                <a href="/">
                    Home
                </a>
            </li>
            <li class="hover:text-slate-500">
                <a href="/ia-detection">
                    Detect Product With IA
                </a>
            </li>
        </ul>
    </nav>
</header>